body {
  background-color: #dcced7;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.title {
  font-size: 47px;
  margin-left: auto;
  margin-right: auto;
}

#graphCanvas {
  background-color: lightblue;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  border-color: black;
  border: 2px solid;
}

#userInput {
  background: #fd952d;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px 15px 20px;
  height: auto;
  width: 400px;
  max-height: 100%;
  max-width: 100%;
  display: block;
  border-color: black;
  border: 2px solid;
  border-radius: 5px;
}

#vertices {
  text-align: center;
  padding-left: 12px;
  border: 2px solid;
  border-color: blue;
}

/* w3schools */

.input {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-bottom: 10px;
  width: 32.6%;
  max-width: 115px;
  height: 40px;
  border: 1px solid;
  border-color: black;
}

.input:hover {
  background-color: #2dbff5;
  color: white;
}

.active {
  border: 3px solid;
}

#increaseVertexCountButton {
  background-color: #1ABC9C;
}

#increaseVertexCountButton:hover {
  background-color: #48C9B0;
}

#sameVertexCountButton {
  background-color: #D7DBDD;
}

#sameVertexCountButton:hover {
  background-color: #E5E7E9;
  color: black;
}

#decreaseVertexCountButton {
  background-color: #D35400;
}

#decreaseVertexCountButton:hover {
  background-color: #DC7633;
}

#increaseVertexCountButton, #sameVertexCountButton, #decreaseVertexCountButton {
  width: 21.1%;
  max-width: 90px;
}

#selectCycleLikeButton, #selectWheelLikeButton, #addVertexButton,
#addEdgeButton, #colorUncoloredButton, #colorEdgeInducedButton,
#colorGreedyButton, #colorMinimumButton {
  width: 49.1%;
  max-width: 175px;
}
