body {
  background-color: #dcced7;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

#topPanel {
  padding: 30px;
  background-color: plum;
  border: 3px solid;
  border-radius: 20px;
  margin-bottom: 25px;
}

hr {
  height: 0px;
  border: none;
  border-top: 4px solid black;
}

.title {
  font-size: 47px;
  margin-left: auto;
  margin-right: auto;
}

#canvasContainer {
  position: relative;
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#graphCanvas {
  background-color: lightblue;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  border-color: black;
  border: 2px solid;
}

#selectedVertexText {
  margin-bottom: 20px;
}

#canvasImg {
  top: 0;
  display: block;
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#userInput {
  background: #fd952d;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px 15px 20px;
  height: auto;
  width: 400px;
  max-height: 100%;
  max-width: 100%;
  display: block;
  border-color: black;
  border: 2px solid;
  border-radius: 5px;
}

#vertices, #firstVertex, #secondVertex {
  text-align: center;
  padding-left: 14px;
  border: 3px solid;
  border-style: inset;
}

#firstVertex, #secondVertex {
  width: 23.9%;
  max-width: 130px;
}

#addVertexButton, #addRandomEdgeButton, #toggleCustomEdgeButton {
  border: 2px solid;
  border-style: outset;
}

#addVertexButton {
  background-color: #EF7FC7;
}

#addRandomEdgeButton {
  background-color: #99DFC7;
}

#toggleCustomEdgeButton {
  background-color: #65D6CE;
  width: 27%;
  max-width: 100px;
}

/* w3schools */

.columnLabel {
  cursor: pointer;
}

.input {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-bottom: 10px;
  width: 32.6%;
  max-width: 115px;
  height: 37.4px;
  border: 1px solid;
  border-color: black;
}

.input:hover {
  background-color: #2dbff5;
  color: white;
}

.active {
  border: 3px solid;
}

#increaseVertexCountButton {
  background-color: #1ABC9C;
  border: 2px solid;
  border-style: outset;
}

#increaseVertexCountButton:hover {
  background-color: #48C9B0;
}

#sameVertexCountButton {
  background-color: #D7DBDD;
  border: 2px solid;
  border-style: outset;
}

#sameVertexCountButton:hover {
  background-color: #E5E7E9;
  color: black;
}

#decreaseVertexCountButton {
  background-color: #D35400;
  border: 2px solid;
  border-style: outset;
}

#decreaseVertexCountButton:hover {
  background-color: #DC7633;
}

#increaseVertexCountButton, #sameVertexCountButton, #decreaseVertexCountButton {
  width: 21.1%;
  max-width: 90px;
}

#selectCycleLikeButton, #selectWheelLikeButton, #addVertexButton,
#addRandomEdgeButton, #colorUncoloredButton, #colorEdgeInducedButton,
#colorGreedyButton, #colorMinimumButton, #toggleCustomEdgeButton {
  width: 49.1%;
  max-width: 175px;
}

#graphText {
  text-align: center;
}

#graphInformation {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
